header{
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    background-color: aqua;
    outline: 5px solid black;
    outline-offset: 5px;
    box-sizing: content-box;
}

nav{
    margin: 10px;
    padding: 5px;
    font-size: large;
    text-align: center;
    list-style-position: inside;
}

ol{
    list-style-type: upper-alpha;
    
}

ul{
    list-style-type: square;
}

::marker{
    color:rgb(255, 136, 0)
}

a{
    border: 5px dotted green;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

a:hover,a:focus{
    color:greenyellow;
}

a:focus{
    background-color: yellow;
}

a:visited{
    color: gold
}
 
form{
    color: blue;
}

*{
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 2px;
}